<div class='publications'>

  <hr></hr>
  <h3> Work Experience </h3>
    <ul>
      <li><a href="http://research.verizondigitalmedia.com/people/">Verizon Media</a>, Research Intern, Summer'20</li>
      <li><a href="https://www.research.ibm.com/labs/watson/">IBM T.J. Watson Research Center</a>, Research Intern, Summer'17</li>
      <li><a href="https://www.research.ibm.com/labs/africa/">IBM Research South Africa</a>, Research Intern, Spring&Summer'16</li>
  </ul>

  <hr></hr>
  <h3> Honors and Awards </h3>
  <ul>
    <li>Awarded <a href="https://en.wikipedia.org/wiki/Fulbright_Program">Fulbright Scholarship</a> for my Ph.D studies</li>
    <li>Awarded <a href="https://n2women.comsoc.org/fellowships/">N2Women Travel Grant</a> for attending ACM Mobicom'19</li>
    <li>Chosen for <a href="https://www.ece.gatech.edu/news/628859/lall-chosen-acm-s3-workshop-best-poster-award">ACM S3 Best Poster Award</a> at ACM Mobicom'19</li>
    <li>Semi-Finalist of <a href="https://www.qualcomm.com/research/university-relations/innovation-fellowship">Qualcomm Innovation Fellowship 2018</a></li>
    <li><a href="http://www.s2a3.org.za/joomla/index.php/awards/mastersmedalrecipients">S2A3 Medal</a> received for most outstanding research student in a scientific subject
      graduating at the Masters level at a South African University, 2015 </li>
    <li>Received the <a href="https://www.up.ac.za/news/post_2150577-up-student-awarded-two-prestigious-scholarships">South African Women in Science Award</a> for outstanding academic and research
abilities in the Master's category, 2015</li>
  <li>Awarded Gold Merit Award for top student in Computer Engineering, 2011</li>
  <li>Honored as <a href="https://www.pressreader.com/south-africa/pretoria-news/20091231/282011848476018">IEB Commendable Achiever</a> for obtaining 9 distinctions in the
National Senior Certificate Examinations, South Africa, 2009</li>
</ul>

</div>
